.card-wrapper{
    width: 40vw;
    height: fit-content;
    background-color: #1B1B1B;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.service-header{
    margin: 20px 0 10px 0;
    font-size: 20px;
    text-align: center;
    color: #FD6F00;
    line-height: 35px;
}

.service-description{
    text-align: center;
    line-height: 25px;
    color: #575757;
    font-size: 15px;
}

@media only screen and (min-width: 768px){
    .service-header{
        font-size: 30px;
    }
    .service-description{
        font-size: 15px;
    }
}

@media only screen and (min-width: 1280px){
    .card-wrapper{
        width: 25vw;
    }
    .service-header{
        font-size: 35px;
    }
    .service-description{
        margin-top: 13px;
        font-size: 25px;
        line-height: 35px;
    }
}