.content-header{
    margin: 100px 4vw 60px 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.content-header h2{
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.content-header p{
    font-size: 18px;
}



@media only screen and (min-width: 1280px){

    .content-header h2{
        font-size: 50px;
        font-weight: bold;
    }
    

    .content-header p{
        text-align: center;
        font-size: 30px;
    }
}