.right {
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    background-color: #959595;
    overflow: hidden;
    border-radius: 30px;
    border: 2px solid #FD6F00;
}

.profile-image {
    width: 350px;
    height: 450px;
    transform: translate(-40%, -15%);
}


@media only screen and (min-width: 1280px) {

    .right {
        width: 600px;
        height: 600px;
    }

    .profile-image {
        width: 600px;
        height: 600px;
        transform: translate(0);
    }
}