.nav-wrapper {
    height: 75px;
    padding: 0 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #121212;
    z-index: 100;
}

.nav-wrapper button ,.nav-wrapper button::after{
    transition-duration: 300ms;
    border: none;
    padding: 10px 25px;
    background-color: #dd6205;
    color: white;
    border-radius: 8px;
    font-weight: bold;
}

.nav-wrapper button:hover{
    transition-duration: 300ms;
    border: 1px solid #FA6E00;
    background-color: #121212;
    color: white;
}

.contactLink a{
    color: white;
    font-size: 20px;
    text-decoration: none
}

.nav-wrapper h3 {
    background: -webkit-linear-gradient(0deg, #FA6E00, #E60026);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-wrapper ul {
    display: none;
}

.menuItems {
    top: 75px;
    padding-top: 20px;
    padding-left: 4vw;
    background-color: rgb(26, 26, 26);
    width: 50vw;
    height: 100vh;
    position: fixed;
    border-top-right-radius: 50px;
    transform: translate(-100%);
    transition: 0.4s ease-in-out;
    z-index: 20;
}

.menuItems ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: x-large;
}

.menuItems ul li:hover{
    color: #dd6205;
    font-weight: bold;
    transition-duration: 100ms;
}

@media screen and (min-width: 940px) {
    .nav-wrapper ul {
        display: flex;
        list-style: none;
        gap: 30px;
        align-items: center;
        justify-content: space-between;
    }

    .nav-wrapper li:hover {
        color: #FA6E00;
        transition-duration: 300ms;
        font-weight: bold;
    }

    .nav-wrapper li,
    .nav-wrapper li::after {
        transition-duration: 300ms;
        cursor: grab;
    }

    .menu-image {
        display: none;
    }
}

@media only screen and (min-width: 1280px){
    .nav-wrapper li{
        font-size: 18px;
    }
    .nav-wrapper ul{
        gap: 50px;
    }
    .nav-wrapper button{
        padding: 14px 40px;

    }
}